
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
@font-face {
	font-family: 'couture';
	src: url(fonts/couture-bld.otf) format('otf');
}
@font-face {
	font family: 'lane';
	src: url(fonts/LANENAR_.ttf) format('ttf');
}

#head {
	margin-left: 3%;
	width: 100%;
	height: 100%;
	text-align: center;
	color: black;
}

#head a{
	color: black;
	font-family: "Lane";
}

#header {
	background-color: #FEF0F0;
	border-right: solid;
	border-color: black;
	background-color: #FFF;
	padding-top: 10%;
	padding-right: 2%;
	color: #000;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: right;
	top: 0;
	width: 25%;
}

/* Main */
#plus {
		width: 20%
}

#main {
	margin-left: 30%;
	margin-right: 20%;
	margin-top: 5%;
}

#main > section {
	border-top: solid 2px #efefef;
	margin: 4em 0 0 0;
	padding: 4em 0 0 0;
}

#main > section:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}

#submit {
	width: 40%;

}

body {
	background: #fff;
	font-family: 'Lane';
	font-color: black;
	color: #fff;
	color: black;
}

#one {
	font-family: "Lane";
	color: black;
}
#two {
	font-family: "Lane";
	color: black;
}
#three {
	font-family: "Lane";
	color: black;
}



/* Form */

form {
	margin: 0 0 2em 0;
}

label {
	color: #787878;
	display: block;
	font-size: 0.9em;
	font-weight: 400;
	margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: #f7f7f7;
	border-radius: 0.35em;
	border: solid 2px transparent;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 0.75em;
	text-decoration: none;
	width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
	border-color: #49bf9d;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
	height: 2.75em;
}

textarea {
	padding: 0.75em;
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	text-decoration: none;
	color: #a2a2a2;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 400;
	padding-left: 2.4em;
	padding-right: 0.75em;
	position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	background: #f7f7f7;
	border-radius: 0.35em;
	border: solid 2px transparent;
	content: '';
	display: inline-block;
	height: 1.65em;
	left: 0;
	line-height: 1.58125em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	background: #787878;
	border-color: #787878;
	color: #fff;
	content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
	border-color: #49bf9d;
}

input[type="checkbox"] + label:before {
	border-radius: 0.35em;
}

input[type="radio"] + label:before {
	border-radius: 100%;
}

::-webkit-input-placeholder {
	color: #b2b2b2 !important;
	opacity: 1.0;
}

:-moz-placeholder {
	color: #b2b2b2 !important;
	opacity: 1.0;
}

::-moz-placeholder {
	color: #b2b2b2 !important;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: #b2b2b2 !important;
	opacity: 1.0;
}

.formerize-placeholder {
	color: #b2b2b2 !important;
	opacity: 1.0;
}

/* Box */

.box {
	border-radius: 0.35em;
	border: solid 2px #efefef;
	margin-bottom: 2em;
	padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
	margin-bottom: 0;
}

.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

/* Image */

.image {
	border-radius: 0.35em;
	border: 0;
	display: inline-block;
	position: relative;
}

.image:before {
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	background: url("images/overlay.png");
	border-radius: 0.35em;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
}

.image.thumb {
	text-align: center;
}

.image.thumb:after {
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	border-radius: 0.35em;
	border: solid 3px rgba(255, 255, 255, 0.5);
	color: #fff;
	content: 'View';
	display: inline-block;
	font-size: 0.8em;
	font-weight: 400;
	left: 50%;
	line-height: 2.25em;
	margin: -1.25em 0 0 -3em;
	opacity: 0;
	padding: 0 1.5em;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 50%;
	white-space: nowrap;
}

.image.thumb:hover:after {
	opacity: 1.0;
}

.image.thumb:hover:before {
	background: url("images/overlay.png"), url("images/overlay.png");
	opacity: 1.0;
}

.image img {
	border-radius: 0.35em;
	display: block;
}

.image.left {
	float: left;
	margin: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	margin: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.avatar {
	border-radius: 100%;
}

.image.avatar:before {
	display: none;
}

.image.avatar img {
	border-radius: 100%;
	width: 100%;
}

/* Work Item */

.work-item {
	margin: 0 0 2em 0;
}

.work-item .image {
	margin: 0 0 1.5em 0;
}

.work-item h3 {
	font-size: 1em;
	margin: 0 0 0.5em 0;
}

.work-item p {
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 0;
}
